<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
<div id="messages"></div>
<input id="chat-input" type="text"></input>

<div class="jumbotron">
  
  <p id="timer" class="lead"></p>
  
</div>

<canvas id="myChart1" width="200" height="200"></canvas>
<canvas id="myChart2" width="200" height="200"></canvas>


