<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
<div id="messages"></div>

<input id="chat-input" type="text">
</input>
<input id="amount" type="text">
</input>

<select id="receiver">

</select>



<div class="jumbotron">
  
  <p id="timer" class="lead"></p>
  
</div>

<canvas id="myChart1" width="100" height="100"></canvas>
<canvas id="myChart2" width="100" height="100"></canvas>
<canvas id="myChart3" width="100" height="100"></canvas>


